# Import required library import pandas as pd

In [26]:
import pandas as pd

# Load the raw dataset

In [27]:
data_path = "../data/dataset/Amazon_Product_Review/Reviews.csv" 
df = pd.read_csv(data_path)

In [28]:
df.head(10)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...
5,6,B006K2ZZ7K,ADT0SRK1MGOEU,Twoapennything,0,0,4,1342051200,Nice Taffy,I got a wild hair for taffy and ordered this f...
6,7,B006K2ZZ7K,A1SP2KVKFXXRU1,David C. Sullivan,0,0,5,1340150400,Great! Just as good as the expensive brands!,This saltwater taffy had great flavors and was...
7,8,B006K2ZZ7K,A3JRGQVEQN31IQ,Pamela G. Williams,0,0,5,1336003200,"Wonderful, tasty taffy",This taffy is so good. It is very soft and ch...
8,9,B000E7L2R4,A1MZYO9TZK0BBI,R. James,1,1,5,1322006400,Yay Barley,Right now I'm mostly just sprouting this so my...
9,10,B00171APVA,A21BT40VZCCYT4,Carol A. Reed,0,0,5,1351209600,Healthy Dog Food,This is a very healthy dog food. Good for thei...

# Keep only review and rating

In [29]:
df = df[['Score', 'Text']].dropna()
df.sample(10)

        Score                                               Text
557608      4  These little snack boxes are cool -- the treat...
479707      5  I've been living in the USA for 15 years and o...
358529      5  This is a case of 6 boxes, and each box contai...
226363      5  This coffee is the perfect blend of coffee and...
294702      5  I ordered my plant on the 19th and received it...
478468      5  I ordered two juniper bonsai trees for present...
370039      5  These small, thin, pretzels are delicious.  Th...
327455      5  I drink this tea to relax and for stomach and ...
544056      5  <a href="http://www.amazon.com/gp/product/B004...
439705      5  Wispa is hands down my favorite chocolate bar....

# STANDARDIZE REVIEW TEXT (REMOVE UNWANTED SPACES AND CHARACTERS)

In [30]:
df['Text'] = df['Text'].str.strip()

In [31]:
df['Text_clean'] = df['Text'].str.lower()

import re
df['Text_clean'] = df['Text_clean'].str.replace(r'[^\w\s]', '', regex=True)

df.duplicated(subset='Text_clean')

0         False
1         False
2         False
3         False
4         False
          ...
568449    False
568450    False
568451    False
568452    False
568453    False
Length: 568454, dtype: bool

# CHECKING FOR DUPLICATES

In [32]:
df.duplicated(subset='Text_clean').sum()

np.int64(174936)

In [33]:
duplicates = df[df.duplicated(subset='Text', keep=False)]
duplicates.sample(10, random_state=42)

,Score,Text,Text_clean
353465,5,Delicious and very effective.<br /><br />One o...,delicious and very effectivebr br one of the c...
355418,5,My favorite K-cup used to be the Donut Shop me...,my favorite kcup used to be the donut shop med...
412738,1,"I usually love these little treats, but the on...",i usually love these little treats but the one...
402938,5,Since I live in a rural area sometimes I'd dri...,since i live in a rural area sometimes id driv...
33519,5,We have tried MANY of the different flavors of...,we have tried many of the different flavors of...
45012,5,"I feed these to my cat, Bobby every night. The...",i feed these to my cat bobby every night they ...
533991,4,"Our cocker spaniel is now nearly 10 years old,...",our cocker spaniel is now nearly 10 years old ...
466312,5,"I absolutely Love Popcorners, and the Caramel ...",i absolutely love popcorners and the caramel f...
247718,5,Don't you hate it when the shelves in the stor...,dont you hate it when the shelves in the store...
200083,5,Our son LOVES this applesauce. We try to feed ...,our son loves this applesauce we try to feed h...

In [34]:
df.head(10)

,Score,Text,Text_clean
0,5,I have bought several of the Vitality canned d...,i have bought several of the vitality canned d...
1,1,Product arrived labeled as Jumbo Salted Peanut...,product arrived labeled as jumbo salted peanut...
2,4,This is a confection that has been around a fe...,this is a confection that has been around a fe...
3,2,If you are looking for the secret ingredient i...,if you are looking for the secret ingredient i...
4,5,Great taffy at a great price. There was a wid...,great taffy at a great price there was a wide...
5,4,I got a wild hair for taffy and ordered this f...,i got a wild hair for taffy and ordered this f...
6,5,This saltwater taffy had great flavors and was...,this saltwater taffy had great flavors and was...
7,5,This taffy is so good. It is very soft and ch...,this taffy is so good it is very soft and che...
8,5,Right now I'm mostly just sprouting this so my...,right now im mostly just sprouting this so my ...
9,5,This is a very healthy dog food. Good for thei...,this is a very healthy dog food good for their...

# DROPPING DUPLICATES

In [35]:
df = df.drop_duplicates(subset='Text_clean', keep='first')

In [36]:
df.duplicated().sum()

np.int64(0)

# CHECKING AND REMOVING EMPTY REVIEWS

In [37]:
empty_count = (df['Text_clean'] == '').sum()
print(empty_count)

0

In [38]:
df = df[df['Text_clean'] != '']

In [39]:
empty_count = (df['Text_clean'] == '').sum()
print(empty_count)

0

# WRAPPING THE DATA CLEANING PROCEDURE

In [40]:
df.head(10)

,Score,Text,Text_clean
0,5,I have bought several of the Vitality canned d...,i have bought several of the vitality canned d...
1,1,Product arrived labeled as Jumbo Salted Peanut...,product arrived labeled as jumbo salted peanut...
2,4,This is a confection that has been around a fe...,this is a confection that has been around a fe...
3,2,If you are looking for the secret ingredient i...,if you are looking for the secret ingredient i...
4,5,Great taffy at a great price. There was a wid...,great taffy at a great price there was a wide...
5,4,I got a wild hair for taffy and ordered this f...,i got a wild hair for taffy and ordered this f...
6,5,This saltwater taffy had great flavors and was...,this saltwater taffy had great flavors and was...
7,5,This taffy is so good. It is very soft and ch...,this taffy is so good it is very soft and che...
8,5,Right now I'm mostly just sprouting this so my...,right now im mostly just sprouting this so my ...
9,5,This is a very healthy dog food. Good for thei...,this is a very healthy dog food good for their...

In [42]:
df = df.drop(columns=['Text'])

In [43]:
df.sample(10)

        Score                                         Text_clean
226950      5  i was given these as a giftthey were so amazin...
357090      1  i was surprised when i read the bag and it not...
276364      5  i make this often withbr pesto fresh when i ca...
76058       4  these were priced well and were very good howe...
471010      1  these where listed under sugarfreeand they are...
104810      1  this coffee kcup was the worst ever it leaks w...
89706       3  our dogs diet is largely people food as my bro...
272632      5  these are great good as a soup in chili as bak...
491645      3  upon opening the bag i noticed smell was somew...
408780      3  ive liked chex mix since the day you had to ma...

In [47]:
df = df.rename(columns={'Text_clean': 'Reviews','Score': 'Rating'})

In [48]:
df.head(5)

   Rating                                            Reviews
0       5  i have bought several of the vitality canned d...
1       1  product arrived labeled as jumbo salted peanut...
2       4  this is a confection that has been around a fe...
3       2  if you are looking for the secret ingredient i...
4       5  great taffy at a great price  there was a wide...

In [49]:
# Count how many times each rating appears

rating_counts = df['Rating'].value_counts().sort_index()

print(rating_counts)

Rating
1     36262
2     20791
3     29748
4     56037
5    250680
Name: count, dtype: int64

# SAVING CLEANED DATASET TO CSV FILE

In [51]:
df.to_csv("../data/cleaned_dataset/amazon_cleanedreview.csv", index=False)