# IMPORT LIBRARIES AND DATASETS

In [29]:
import pandas as pd
import re

In [30]:
data_path="../data/dataset/Movie_ratings/Movie Review And Rating.csv"
df=pd.read_csv(data_path)

In [31]:
df.head(10)

,ID,Movie,Year,Genres,Review,Rating
0,100001,Spider-Man: No Way Home,2021,Action/Adventure,This is by far the best Spider-Man or even Mar...,5
1,100002,Spider-Man: No Way Home,2021,Action/Adventure,Coming from someone who doesn‚Äôt like the previ...,5
2,100003,Spider-Man: No Way Home,2021,Action/Adventure,Marvel has outdone themselves. This is the qui...,5
3,100004,Spider-Man: No Way Home,2021,Action/Adventure,Saw this #FDFS at 5am\nYou beauty Spider-Man\n...,5
4,100005,Spider-Man: No Way Home,2021,Action/Adventure,"Best in the Spiderman line, and it takes top s...",5
5,100006,Spider-Man: No Way Home,2021,Action/Adventure,Awful movie. The plot sucked and had awful pac...,1
6,100007,Spider-Man: No Way Home,2021,Action/Adventure,Marvel really need new writers(especially in t...,1
7,100008,Spider-Man: No Way Home,2021,Action/Adventure,This movie showed us someone that we didn¬¥t ev...,1
8,100009,Spider-Man: No Way Home,2021,Action/Adventure,I'm not a fan of super-turds. I watched this ...,1
9,100010,Spider-Man: No Way Home,2021,Action/Adventure,I didn't enjoy this movie and what dialogue th...,1

# NEED ONLY THE REVIEWS AND RATINGS

In [32]:
df = df[['Review','Rating']].dropna()

In [33]:
df.sample(5)

                                                Review  Rating
983     Top Notch , fantastically made n presented üëèüëèüëè       5
903  A cinematic presentation worth spending your p...       5
811  Wonder woman 1984 is a beautiful film that‚Äôs m...       4
375  There‚Äôs a lot to like about this film, but I p...       3
348  Aside from all the political BS this movie is ...       1

# ORDERING THE TEXT REVIEW

In [34]:
df['clean_Review'] = df['Review'].str.strip().str.lower()

In [35]:

df['clean_Review'] = df['clean_Review'].str.replace(r'[^\w\s]', '', regex=True).str.replace(r'\s+', ' ', regex=True).str.strip()
df.duplicated(subset='clean_Review')

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

# REMOVING THE DUPLICATES FROM THE DATASET

In [36]:
df.duplicated(subset='clean_Review').sum()

np.int64(7)

In [37]:
df=df.drop_duplicates(subset='clean_Review',keep='first')

In [38]:
df.sample(10)

,Review,Rating,clean_Review
294,Im late to the party with this review. But can...,1,im late to the party with this review but can ...
701,"I Freaking Loved It, Worth The Wait! It Feels ...",5,i freaking loved it worth the wait it feels so...
454,I thoroughly enjoyed this film. The fight scen...,5,i thoroughly enjoyed this film the fight scene...
177,Tenet is Christopher Nolan's most ambitious mo...,3,tenet is christopher nolans most ambitious mov...
281,a secret government agency recruits imprisoned...,2,a secret government agency recruits imprisoned...
213,A fun movie with a lot of callbacks to the cla...,4,a fun movie with a lot of callbacks to the cla...
253,I LOVED JARED LETO JOKER HE WAS EVEN BETTER TH...,5,i loved jared leto joker he was even better th...
665,If I could I would have given a 4.5 rating. I ...,4,if i could i would have given a 45 rating i ha...
94,I can‚Äôt believe James Wan attached his name to...,1,i cant believe james wan attached his name to ...
981,"Ehhh, Not that great but as I type this I know...",2,ehhh not that great but as i type this i know ...

# CHECKING FOR EMPTY REVIEWS

In [39]:
df.duplicated(subset='clean_Review').sum()

np.int64(0)

In [40]:
empty_count = (df['clean_Review'] == '').sum()
print(empty_count)

0

In [41]:
df = df[df['clean_Review'] != '']

In [42]:
empty_count = (df['clean_Review'] == '').sum()
print(empty_count)

0

In [43]:
df.head(10)

,Review,Rating,clean_Review
0,This is by far the best Spider-Man or even Mar...,5,this is by far the best spiderman or even marv...
1,Coming from someone who doesn‚Äôt like the previ...,5,coming from someone who doesnt like the previo...
2,Marvel has outdone themselves. This is the qui...,5,marvel has outdone themselves this is the quin...
3,Saw this #FDFS at 5am\nYou beauty Spider-Man\n...,5,saw this fdfs at 5am you beauty spiderman the ...
4,"Best in the Spiderman line, and it takes top s...",5,best in the spiderman line and it takes top sp...
5,Awful movie. The plot sucked and had awful pac...,1,awful movie the plot sucked and had awful paci...
6,Marvel really need new writers(especially in t...,1,marvel really need new writersespecially in th...
7,This movie showed us someone that we didn¬¥t ev...,1,this movie showed us someone that we didnt eve...
8,I'm not a fan of super-turds. I watched this ...,1,im not a fan of superturds i watched this film...
9,I didn't enjoy this movie and what dialogue th...,1,i didnt enjoy this movie and what dialogue the...

# DROPING THE UNWANTED COLUMNS 'REVIEW'

In [44]:
df=df.drop(columns='Review')

In [45]:
df.sample(5)

     Rating                                       clean_Review
954       5  this movie is rightly recommended for i quote ...
228       3  its a good movie you can watch one time becaus...
271       3  i dont get the hate behind this movie i felt i...
357       5  today is the last day before the mnet movies c...
976       5                           great movie great acting

# RENAMING THE COLUMNS PROPERLY

In [46]:
df=df.rename(columns={'clean_Review':'Review'})

In [47]:
df.head(10)

   Rating                                             Review
0       5  this is by far the best spiderman or even marv...
1       5  coming from someone who doesnt like the previo...
2       5  marvel has outdone themselves this is the quin...
3       5  saw this fdfs at 5am you beauty spiderman the ...
4       5  best in the spiderman line and it takes top sp...
5       1  awful movie the plot sucked and had awful paci...
6       1  marvel really need new writersespecially in th...
7       1  this movie showed us someone that we didnt eve...
8       1  im not a fan of superturds i watched this film...
9       1  i didnt enjoy this movie and what dialogue the...

In [49]:
# Count how many times each rating appears

rating_counts = df['Rating'].value_counts().sort_index()

print(rating_counts)

Rating
1    201
2    185
3    189
4    214
5    204
Name: count, dtype: int64

# SAVING CLEANED DATASET

In [48]:
df.to_csv("../data/cleaned_dataset/movie_cleanedreview.csv", index=False)