# IMPORT LIBRARIES AND DATASET

In [59]:
import pandas as pd
import re

In [60]:
data_path="../data/dataset/YELP_Review/yelp.csv"
df=pd.read_csv(data_path)

In [61]:
df.sample(10)

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
3836,luCSjoNQ9q_0QIjKKOy2pQ,2011-10-10,W8OgtYmRGkwh55Pb4xLFqA,5,One of the few legit brewpubs around.,review,--rlgfAvvi0BtfRDA1p-VQ,0,0,0
599,W0eocyGliMbg8NScqERaiA,2011-01-31,yCB0PVMgHBCJYaAN7ZIAzg,5,One of my new favorite lounges to go to with t...,review,oHn52UJAeJQJxDOob4FEAw,2,6,0
6193,3BqT16UJFW6BBZxZMPxV1Q,2012-11-11,BQJHvkaRhxXG-AE-4sJ2Ag,5,We just completed our third tour with Taste It...,review,2MPGdIbaaEdKuW9IpPxHfw,0,1,0
1244,SgGINtDKQgoXoAnQgrDKDg,2012-12-16,HD4qbc-7eGyXAUYnXdb0Sg,3,The Good: We absolutely love their wings and i...,review,J5nb9AT1LDiGN4_hY0Au8Q,1,1,1
1125,hW0Ne_HTHEAgGF1rAdmR-g,2012-05-30,hUIEsrEvC5L-0B45_8bMtQ,4,"My home airport, so with work travel, I'm pass...",review,A99dyhEqcd_yXKPfBWeZHA,1,3,0
1334,YQvg0JCGRFUkb6reMMf3Iw,2011-04-18,8UagcGX7JLewBcKhufv1Ew,4,This is a very pretty and very chic looking re...,review,dn8OpAemsZCUzbSwtulNHw,1,2,0
8896,PT7V38tg1Re9MLIrEwdh8w,2011-04-10,vTq6GalikN1nPE5kjGgAOw,3,We've been in the market looking for a church ...,review,fLjjtm4beQfqPxLfeuqboA,0,0,0
3499,DDnmNTvIIQu2t3WZ2EQx-w,2011-09-06,RGWidgmFW5CtAA-Vfet2pA,5,This is seriously one of my favorite restauran...,review,SlRP0wlWohWkMgnVF2D2hA,0,0,0
1100,gWQlTK3o29rZGlw2YLUnhA,2008-10-08,TaLnv40D99JimeXXt89-oQ,4,"Whenever you want a refreshing drink, go to Te...",review,Ovac_Bws19DOy2_ai3WzeA,3,3,2
6921,xHe6WBPFINEHUIeq_5yEHQ,2011-12-11,C6Fi3HEJ1mhSmq9nPdqthA,1,I never knew green chilies were more valuable ...,review,MugvKza25c3fvNkI49B8IQ,0,1,0

# EXTRACTING ONLY THE RATING AND REVIEWS

In [62]:
df=df[['stars','text']].dropna()

In [63]:
df.count()

stars    10000
text     10000
dtype: int64

# STANDARDIZE OF TEXT DATA

In [64]:
df['clean_text']=df['text'].str.strip().str.lower()

In [65]:
df.sample(10)

,stars,text,clean_text
9435,1,Do not get your oil changed at this walmart or...,do not get your oil changed at this walmart or...
7774,3,leave it to corporate america to capitalize on...,leave it to corporate america to capitalize on...
6531,5,Jake's been taking care of our cars for almost...,jake's been taking care of our cars for almost...
5612,5,Love Love Love it. The Frozen Yogurt is only 8...,love love love it. the frozen yogurt is only 8...
3897,5,Today our travels took us to the Chandler Mall...,today our travels took us to the chandler mall...
3354,3,"If you want a dog and are in the area, this is...","if you want a dog and are in the area, this is..."
6132,5,This is how Caribbean food should be done. Ex...,this is how caribbean food should be done. ex...
7408,5,Cary is one of the most honest and knowledgeab...,cary is one of the most honest and knowledgeab...
7531,5,This was such a good experience\r\nI was up al...,this was such a good experience\r\ni was up al...
1467,1,Everything about this company sucks. Walmart t...,everything about this company sucks. walmart t...

In [66]:
df['clean_text']=df['clean_text'].str.replace(r'[^\s\w]','',regex=True)
df.duplicated(subset='clean_text')

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool

In [68]:
df.head(10)

,stars,text,clean_text
0,5,My wife took me here on my birthday for breakf...,my wife took me here on my birthday for breakf...
1,5,I have no idea why some people give bad review...,i have no idea why some people give bad review...
2,4,love the gyro plate. Rice is so good and I als...,love the gyro plate rice is so good and i also...
3,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",rosie dakota and i love chaparral dog park its...
4,5,General Manager Scott Petello is a good egg!!!...,general manager scott petello is a good egg no...
5,4,"Quiessence is, simply put, beautiful. Full wi...",quiessence is simply put beautiful full windo...
6,5,Drop what you're doing and drive here. After I...,drop what youre doing and drive here after i a...
7,4,"Luckily, I didn't have to travel far to make m...",luckily i didnt have to travel far to make my ...
8,4,Definitely come for Happy hour! Prices are ama...,definitely come for happy hour prices are amaz...
9,5,Nobuo shows his unique talents with everything...,nobuo shows his unique talents with everything...

# REMOVING THE DUPLICATES FROM THE DATASET

In [69]:
df.duplicated(subset='clean_text').sum()

np.int64(3)

In [70]:
df=df.drop_duplicates(subset='clean_text',keep='first')

# CHECKING FOR EMPTY REVIEWS

In [71]:
df.duplicated(subset='clean_text').sum()

np.int64(0)

In [72]:
empty_count = (df['clean_text'] == '').sum()
print(empty_count)

0

In [73]:
df = df[df['clean_text'] != '']

In [74]:
empty_count = (df['clean_text'] == '').sum()
print(empty_count)

0

# DROPING THE UNWANTED COLUMNS 'REVIEW'

In [75]:
df=df.drop(columns='text')

In [76]:
df.sample(10)

      stars                                         clean_text
6145      4  one of the best craft brew retailers in the nw...
5025      5  still flying solo  my friends took me for dinn...
4229      5  im not a fan of chains i far prefer to find an...
6772      5  caught louis ck here last night \r\n\r\nbeauti...
4400      3  popped in for a quick meal before a show fun d...
9493      5  i try and eat here regularly hummus is great v...
3713      3  ok so i finally ate at wandas  it is located r...
5124      5  i was visiting tempe for ironman arizona and c...
3916      4              had a great time very family friendly
2033      4  we go to fresh wasabi a lot and usually its th...

# RENAMING THE COLUMNS PROPERLY

In [77]:
df=df.rename(columns={'clean_text':'Reviews','stars':'Rating'})

In [78]:
df.head(10)

   Rating                                            Reviews
0       5  my wife took me here on my birthday for breakf...
1       5  i have no idea why some people give bad review...
2       4  love the gyro plate rice is so good and i also...
3       5  rosie dakota and i love chaparral dog park its...
4       5  general manager scott petello is a good egg no...
5       4  quiessence is simply put beautiful  full windo...
6       5  drop what youre doing and drive here after i a...
7       4  luckily i didnt have to travel far to make my ...
8       4  definitely come for happy hour prices are amaz...
9       5  nobuo shows his unique talents with everything...

In [79]:
# Count how many times each rating appears

rating_counts = df['Rating'].value_counts().sort_index()

print(rating_counts)

Rating
1     749
2     926
3    1461
4    3526
5    3335
Name: count, dtype: int64

# SAVING CLEANED DATASET TO CSV FILE

In [80]:
df.to_csv("../data/cleaned_dataset/yelp_cleanedreview.csv", index=False)